params {
    // Default for local development
    fiji_cache_dir = "${projectDir}/work/fiji_mouse_czi_processing"
    input = null  // Will be overridden by command line

    bigstitcher {
        
        channel_alignment {
            pairwise_shifts_downsamples {
                x = 4
                y = 4
                z = 2
            }
            filter_min_r = 0.7
        }
        
        tile_alignment {
            use_channel = 0
            pairwise_shifts_downsamples {
                x = 4
                y = 4
                z = 2
            }
            filter_min_r = 0.7
        }
        
        icp_refinement {
            icp_refinement_type = "Simple (all together)"
            downsampling = "Downsampling 8/8/4"
            interest = "Average Threshold"
            icp_max_error = "Normal Adjustment (<5px)"
        }
        
        reorientation {
            raw_orientation = "IAL"
            reorient_to_asr = true
        }
        
        fusion_config {
            downsampling = 4
            preserve_original = false
            produce = "Each timepoint & channel"
            fused_image = "Save as (compressed) TIFF stacks"
            fusion_method = "SMOOTH AVERAGE"
        }
    }

}

profiles {
    local {
        params {
            fiji_cache_dir = "${projectDir}/work/fiji_mouse_czi_processing"
        }
    }
    
    slurm {
        process.executor = 'slurm'
        workDir = "/scratch/\$USER/nf"
        params {
            fiji_cache_dir = "/work/ptbiop/fiji_mouse_czi_processing"
        }
    }
}

env {
  FIJI_PATH = '/path/to/your/Fiji.app'
}