params {
    // Default for local development
    fiji_cache_dir = "${projectDir}/work/fiji_mouse_czi_processing"
    input = null  // Will be overridden by command line
}

profiles {
    local {
        params {
            fiji_cache_dir = "${projectDir}/work/fiji_mouse_czi_processing"
        }
    }
    
    slurm {
        process.executor = 'slurm'
        workDir = "/scratch/\$USER/nf"
        params {
            fiji_cache_dir = "/work/ptbiop/fiji_mouse_czi_processing"
        }
    }
}